body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: url("/root/assets/images/711093.jpg");
    font-family: JetBrains Mono;
    background-size: cover;
}
.mainbody {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: white;
    flex: 1 0 auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: center;
}
.mainbody h1{
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: bolder;
    flex: 1 0 auto; 
    padding: 10px;
    padding-bottom: 11px;
}
.assOne{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    transition: 0.1s;
    
}
.assOne:hover{
    background-color: black;
    color: white;
    transform: scale(1.03)
}
label{
    font-weight: 900; 
}
input{
    display: block;
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    margin: 20px auto;
    border-radius: 2px;
    transition: 0.1s;
    font-family: JetBrains Mono;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);   
}
input:focus{
    outline: none;
    text-decoration: none;
    background-color: black;
    color: white;
}
a{
    text-decoration: none;
    color: black;
}
.home-parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home {
    display: inline-block;
    font-family: JetBrains Mono;
    background-color: white;
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10dvh;
    transition: 0.2s;
    padding: 10px;
}

.home:hover{
    color: white;
    background-color: black;
    transform:scale(1.03);
    border-radius: 2px;
}
footer{
    width: 100%;
    max-width: 600px;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
    font-family: JetBrains Mono;
}
