body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: url("/root/assets/images/711093.jpg");
    font-family: JetBrains Mono;
    background-size: cover;
}
.input-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    place-items: center;
    text-align: center;
}
.mainbody {
    width: 100%;
    max-width: 600px;
    background-color: white;
    flex: 1 0 auto; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
}
.mainbody h1{
    text-align: center;
    font-family: JetBrains Mono;
    font-weight: bolder;
    flex: 1 0 auto; 
    padding: 10px;
    padding-bottom: 11px;  
}
.mainbody > div:first-of-type {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.assOne{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    margin: 5px;
    border-radius: 2px;
    transition: 0.1s;
    
}
.assOne:hover{
    background-color: black;
    color: white;
    transform: scale(1.03)
}
.numInput{
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: JetBrains Mono;
    padding: 10px;
    transition: 0.1s;
    border-radius: 2px;
    border-width: 1px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 150px;
}
input:focus{
    border-color: white;
    outline: white;
    color:white;
    background-color: black;
}
.accent{
    font-weight: 900;  
}
a{
    text-decoration: none;
    color: black;
    width: fit-content;
    display: block;
    margin: 0 auto;
}
.home{
    display: flex;
    justify-content: center;
    font-family: JetBrains Mono;
    background-color: white;
    border-color: black;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    margin-top: 10dvh;
    transition: 0.2s;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.home:hover{
    color: white;
    background-color: black;
    transform:scale(1.03);
    border-radius: 2px;
}
footer{
    width: 100%;
    max-width: 600px;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
    font-family: JetBrains Mono;
}
.sumInput, .averageInput {
    border-color: black;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    font-family: JetBrains Mono;
    padding: 10px;
    transition: 0.1s;
    border-radius: 2px;
    border-width: 1px;
    margin: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.sumInput:focus, .averageInput:focus {
    border-color: white;
    outline: white;
    color: white;
    background-color: black;
}
